body{
  font-family: 'Josefin Slab', serif;
  background-color: #DEE6ED;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.panels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size:12px; 
  padding:2em;

}

h1{
  display: flex;
  justify-content: center;
  padding:.5em;
  color:#23343B;
  font-family: 'Poiret One', cursive;
}

.panels img{
  height:200px;
  border-radius:50%;
  border:1px solid #FDA99A;
}

img {
  user-select: none;
}

.text{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:400px;
  height:300px;
  border-right:3px solid #FDA99A;
  background-color: #F0F5F8;
  border-right-style: dashed;
  padding:2em;
  margin:5px;
  box-shadow:0 2px #949494;
  font-size: 12pt;
}

@keyframes slideInLeft {
  0%{
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(0, 100, 0);
  }
}
@keyframes slideInLeftB {
  0%{
    transform: translate3d(0, 100, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInRight {
  0%{
    transform: translate3d(0, 100, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes first {
  0%{
    transform: translate3d(0, 100, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
.slideB{
  animation: slideInLeftB .3s linear;
}
.move{
  animation: first .3s linear;
}
.back{
  animation: slideInRight .3s linear;
}
.slide{
  animation: slideInLeft .3s linear;
}
@keyframes fadeout {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeout{
  animation: fadeout .3s linear forwards;
}




hr{
  margin-left:10em;
  margin-right:10em;
}

.name{
  margin:1.5em;
}

h2{
  color:#fc3e0f;
  font-size: 4vmin;
  display: inline;
}


.members{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 1em;
  background-color:#F0F5F8;
}

.members img{
  height:100px;
  width:100px;
  opacity: .5;
  transition: transform .5s;
}
.members img:hover{
  border:1px solid #fc3e0f;
  opacity: 1;
  border-style: dashed;
  border-radius:100%;
  transform: scale(1.5);
}

.diamonds {
  margin: 1em;
}

.diamonds:hover {
  cursor: pointer;
}


/* ========================================================== */


@media (max-width: 600px) {

body{
    overflow: visible;

}
.panels{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:.5em;
}

.panels img{
    width:150px;
    height:150px;
}

.members{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}

.members img{
    height:50px;
    width:50px;
}

.text{
  width:300px;
}


@keyframes slideInLeft {
  0%{
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(0, 100, 0);
  }
}
@keyframes slideInLeftB {
  0%{
    transform: translate3d(0, 100, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideInRight {
  0%{
    transform: translate3d(0, 100, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes first {
  0%{
    transform: translate3d(0, 100, 0);
    visibility: visible;
  }
  50% {
    transform: translate3d(0, 100, 0);
  }
  100% {
    transform: translate3d(0, -200%, 0);
  }
}
}

/* ========================================================== */


@media (min-width: 600px) and (max-width: 992px) { 

.panels{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:.5em;
}

.text{
    display: flex;
    flex-direction: column;
    width:250px;
}

.panels img{
    width:150px;
    height:150px;
}

}
/* ========================================================== */


@media (min-width: 992px) and (max-width: 1200px) {

.panels{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:.5em;
}

.text{
    display: flex;
    flex-direction: column;
    width:250px;
}

.panels img{
    width:150px;
    height:150px;
}


}
/* ========================================================== */


@media (min-width: 1200px) {

.members{
    margin:4.3em;
    height:130px;
}

}